xo-install.log
xo-install.cfg
tests/*/*
tests/*
!tests/Ubuntu
!tests/Ubuntu/Vagrantfile
!tests/CentOS
!tests/CentOS/Vagrantfile
!tests/Debian
!tests/Debian/Vagrantfile
!tests/run-tests.sh
!tests/README.md
